<div class="custom-container">
  <div class="left-sidebar">
    <div class="left-sidebar-title">
      <img class="logo" [src]="'assets/images/logo.jpg'" alt="">
      <a class="btn btn-outline-secondary btn-sm add-marker-btn" routerLink="/markers/new">Añadir marcador</a>
    </div>
    <div class="markers-sidebar">
      <div class="marker-block-container" *ngFor="let marker of markers">
        <div class="marker-block">
          <div class="marker-left-block">
            <img [src]="marker.photoUrl || 'assets/images/profile_pic.png'" class="property-thumbnail"/>
          </div>
          <div class="marker-right-block">
            <p>
              <strong>{{marker.name}}</strong><br />
              {{marker.description}}
            </p>
            <a href="tel:{{marker.phone}}" class="phone-link">{{marker.phone}}</a>
          </div>
        </div>
        <button class="btn btn-default btn-sm" (click)="onSeeInMapClick(marker)">ver en mapa</button>
        <button class="btn btn-info btn-sm">info</button>
        <button class="btn btn-danger btn-sm" (click)="deleteMarker(marker)">borrar</button>
      </div>
    </div>
  </div>
  <div class="map-container">
    <app-google-map [markers]="markers"></app-google-map>
  </div>
</div>
