h1, h2, h3, h4, p, a {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: #292b2c;
}

.container {
  display: flex;
  align-items: stretch;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.left-sidebar {
  height: 90%;
  width: 22%;
  position: relative;
  top: 10%;
}

.map-container {
  width: 78%;
  position: relative;
}

.price {
  font-size: 0.8em;
  font-weight: bold;
  color: #4CAF50;
}

.button {
  background-color: #13b5c7; /* Blue */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3%;
}

.button-delete {
  background-color: #B33A3A; /* Blue */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3%;
}
.button:hover {
  cursor: pointer;
}

.property-thumbnail {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.marker-block {
  display: flex;
}

.marker-block-container {
  padding: 15px 15px;
}

.marker-block-container:hover {
  background-color: #f4f6f8;
  cursor: pointer;
}
.marker-right-block {
  padding: 0px 15px;
}

.phone-link {
  font-size: 0.8em;
  color: #7b9eb0;
}

.markers-sidebar {
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}

.markers-sidebar::-webkit-scrollbar {
    display: none;
}

.left-sidebar-title {
  background-image: url("http://localhost:4200/assets/images/logo.jpg");
  position: fixed;
  top: 0;
  left: 0;
  right: 78%;
  bottom: 90%;
  background: white;
  padding: 0 15px;
}
.logo {
  max-height: 100%;
  max-width: 100%;
}
